# Entorno virtual de Python
venv/
.env/
*.pyc
__pycache__/
*.pyo
*.pyd

# Archivos de configuración y logs
*.log
*.sqlite3

# Archivos de paquetes
*.egg-info/
dist/
build/

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos de sistema
.DS_Store
Thumbs.db
.venv_yolo/